-- Dodanie kolumny avatar_url do tabeli users
ALTER TABLE users ADD COLUMN avatar_url TEXT;

-- Dodanie kolumny updated_at do tabeli users
ALTER TABLE users ADD COLUMN updated_at TIMESTAMPTZ NOT NULL DEFAULT now();

-- Utworzenie triggera dla automatycznej aktualizacji updated_at
CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON users
FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
